[Unit]
Description=Yagna node service
After=network.target

[Service]
Type=simple
User=ubuntu

ExecStart=%%YAGNA_ROOT_DIR%%/yagna service run

WorkingDirectory=%%YAGNA_ROOT_DIR%%

CPUQuota=200%

Environment=YAGNA_METRICS_JOB_NAME=%%VANITY_SERVICE_NAME%%
Environment=YAGNA_METRICS_URL=https://metrics.golem.network:9092/

Restart=no
RestartSec=120

[Install]
WantedBy=multi-user.target
