#!/bin/bash
set -xeuo pipefail

# Stop the yagna service
sudo systemctl stop %%YAGNA_SERVICE_NAME%%.service

# Create a compressed backup archive with date, hour, and minute
tar -czvf yagnadir_backup_$(date +%F_%H-%M).tar.gz -C yagna yagnadir

# Verify the archive was created successfully
if [ $? -eq 0 ]; then
    # Remove the original directory after successful backup
    rm -rf yagna/yagnadir
else
    echo "Backup failed. Directory not removed."
fi


