name: NPM - Checks and tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 1"  # Every Monday at 03:00 UTC


jobs:
  checks:
    name: "Check CLI code - NPM"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v5

      - name: Install dependencies
        run: npm install

      - name: Set version
        run: npm run prebuild

      - name: Check db creation
        run: npm run db:setup

      - name: Check linter
        run: npm run lint

      - name: Check format
        run: npm run format:check

      - name: Run tests
        run: npm run test
