name: Check CLI code

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "cli/**"

jobs:
  checks:
    name: "Check CLI code - NPM"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: cli/package-lock.json
      - working-directory: cli
        run: npm install
      - working-directory: cli
        run: npm run test
      - working-directory: cli
        run: npm run lint
      - working-directory: cli
        run: npm run format
