name: Crunch on Golem using Bun

on:
  workflow_dispatch:
    inputs:
      argument-prefix:
        description: "Prefix argument"
        required: false
        default: "0xabcd1234"
      test-timeout:
        description: "Max total action time (minutes)"
        required: false
        default: 10
      processing-unit:
        description: "Processing unit to use (cpu or gpu)"
        required: false
        default: "gpu"
      num-workers:
        description: "Number of providers to use at once"
        required: false
        default: "1"
      num-results:
        description: "Minimum number of results to generate"
        required: false
        default: "1"
      use-glm-base:
        description: "Use Golem base"
        required: false
        default: "false"

concurrency:
  group: address-0x22446688
  cancel-in-progress: false

jobs:
  golem-example:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-timeout:
          - ${{ inputs.test-timeout }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Install deno
        uses: denoland/setup-deno@v2

      - name: Run prepare
        working-directory: sandbox
        if: ${{ inputs.use-glm-base != 'true' }}
        run: |
          python prepare.py
          # get rid of 0x
          STRIPPED_SECRET="${SECRET#0x}"
          sed -i "s|%%YAGNA_AUTOCONF_ID_SECRET%%|$STRIPPED_SECRET|g" yagna/.env
          tree
        env:
          SECRET: ${{ secrets.PRIVATE_KEY_FOR_0X0022446688BD156E6FDF114623D6B81C1FFD7DA6 }}

      - name: Run prepare golem base
        working-directory: sandbox
        if: ${{ inputs.use-glm-base == 'true' }}
        run: |
          python prepare-glm-base.py
          mv base yagna
          # get rid of 0x
          STRIPPED_SECRET="${SECRET#0x}"
          sed -i "s|%%YAGNA_AUTOCONF_ID_SECRET%%|$STRIPPED_SECRET|g" yagna/.env
          tree
        env:
          SECRET: ${{ secrets.PRIVATE_KEY_FOR_0X0022446688BD156E6FDF114623D6B81C1FFD7DA6 }}

      - name: Run yagna service
        working-directory: sandbox/yagna
        run: |
          ./yagna service run&

      - name: Install dependencies
        working-directory: cli
        run: |
          bun install
          bun run prebuild

      - name: Check payments
        working-directory: sandbox/yagna
        run: |
          ./yagna payment status --network polygon

      - name: Generate key pair (secure by deno)
        working-directory: tools
        run: |
          deno install
          deno --allow-env --allow-write=generated.private,../cli/generated.pub generate.ts
        env:
          KEYSTORE_PASSWORD: verySecurePassword123

      - name: Run crunch on Golem
        working-directory: cli
        run: |
          bun src/index.ts generate \
            --public-key generated.pub \
            --vanity-address-prefix ${{ github.event.inputs.argument-prefix }} \
            --budget-limit 1 \
            --results-file results.json \
            --num-workers ${{ github.event.inputs.num-workers }} \
            --num-results ${{ github.event.inputs.num-results }} \
            --processing-unit ${{ github.event.inputs.processing-unit }} \
            --non-interactive
        env:
          MAX_CPU_CPU_PER_HOUR: 0.06
          MAX_CPU_ENV_PER_HOUR: 0.4

      - name: Show results
        working-directory: cli
        run: |
          cat results.json

      - name: Reveal keys (secure by deno)
        working-directory: tools
        run: |
          deno --allow-env --allow-read=generated.private,../cli/results.json --allow-write=keys reveal.ts
          tree
        env:
          KEYSTORE_PASSWORD: verySecurePassword123

      - name: Finally select and reveal one of the keys
        run: |
          cp "$(ls -1 tools/keys/*.keystore.json | head -n 1)" sandbox/yagna/keystore.json

      - name: Check if key is readable using yagna
        working-directory: sandbox/yagna
        run: |
          ./yagna id create --from-keystore keystore.json imported
          ./yagna id unlock imported --password verySecurePassword123
          sudo apt-get install expect -y -qq
          expect ../yagna_export.exp "verySecurePassword123"

      - name: Trigger yagna payments
        working-directory: sandbox/yagna
        run: |
          echo "Next command time: $(date -u '+%Y-%m-%dT%H:%M:%S') UTC"
          ./yagna payment status --network polygon

          echo "Next command time: $(date -u '+%Y-%m-%dT%H:%M:%S') UTC"
          ./yagna payment process now --network polygon
          sleep 2

          echo "Next command time: $(date -u '+%Y-%m-%dT%H:%M:%S') UTC"
          ./yagna payment status --network polygon
          sleep 30
          echo "Next command time: $(date -u '+%Y-%m-%dT%H:%M:%S') UTC"
          ./yagna payment status --network polygon
          sleep 30
          echo "Next command time: $(date -u '+%Y-%m-%dT%H:%M:%S') UTC"
          ./yagna payment status --network polygon
          sleep 30
          echo "Next command time: $(date -u '+%Y-%m-%dT%H:%M:%S') UTC"
          ./yagna payment status --network polygon
          sleep 30
          echo "Next command time: $(date -u '+%Y-%m-%dT%H:%M:%S') UTC"
          ./yagna payment status --network polygon

      - name: Shutdown yagna service
        working-directory: sandbox/yagna
        run: |
          ./yagna service shutdown
